<h1>Hello World</h1>
<div class="form-group">
	<form style="padding-left:20px; padding-right: 20px;" action="" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<label for="coverimagepath" class="form-label">Cover Image Path (.jpg format)</label><br/>
		    {{ sampleform.user_input }}
		    <br/><br/>
		    <label for="sercretdatapath" class="form-label">Secret Data Path (.txt format)</label><br/>
		        {{ sampleform.secret_data_path }}
		        <br/><br/>
		        <button type="submit" class="btn btn-primary">Encode</button>
	</form>

	{% if data %}
		{{ data }}<br/><br/>
		{{ arr }}
	{% endif %}
</div>